@using HamsterWars.Components;

@page "/Battleground"

<h1>Battleground</h1>

<div>
   <Hamster></Hamster>
    <div style="display:block; margin-left:auto; margin-right: auto;">Content Goes Here</div>
</div>


@code {
    
}
