@page "/Gallery"

@using DataAccessLibrary
@inject IHamsterData _db
@inject NavigationManager _nav

<AddHamster />

<h4>Our Hamsters</h4>

@if (hamsters is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
    @foreach (HamsterModel hamster in hamsters)
    {
        <div class="column">
        <Card hamster="hamster"/>
        </div>
    }
    </div>
}

@code {
    private List<HamsterModel> hamsters = new List<HamsterModel>();

    protected override async Task OnInitializedAsync()
    {
        hamsters = await _db.GetHamsters();

        var activeHamsters = from hamster in hamsters
                             where hamster.Status == "Active"
                             select hamster;

        hamsters = activeHamsters.ToList();

    }
    }
