@page "/Gallery/ID"

@inject IHamsterData _db
@inject NavigationManager _nav

<h2>battle history</h2>

@hamster.Name yesefsfsdffsfdsfsfs


@code {
    [Parameter]
    public HamsterModel hamster { get; set; }
}